#main {
	max-width: 1000px;
	margin: 0 auto;
	width: 100%;
}

.boxthing {
	display: block;
	float: left;
}

.categoryinfo {
	padding: 20px;
}

.hlinks {
	text-align: right;
}

.header {
	text-align: center;
}

.quantitything {
	text-align: center;
	padding-bottom: 10px
}

.categoryboxthing {
	width: 100%;
	padding-top: 20px;
}

.categoryheader {
	padding-top: 10px
}

.lineitems {
	width: 100%; 
	margin: 5px 5px 5px 5px; 
	text-align: center;
}

.totalbox {
	width: 100%; 
	padding-top: 20px; 
	text-align: right; 
	margin: 0 auto;
	float: right;
}

.Gardenbox {
	background-image: url("copyrightfreeteam.jpg");
	background-repeat: no-repeat;
	background-origin: content-box;
	background-position: center;
	background-size: 100% 100%;
	height: 300px;
	display: inline-block;
	float: left;
}

.Gnomesbox {
	background-image: url("selenagnomes.jpg");
	background-repeat: no-repeat;
	background-origin: content-box;
	background-position: center;
	background-size: 100% 100%;
	height: 300px;
	display: inline-block;
	float: left;
}

.Seedsbox {
	background-image: url("seeds.jpg");
	background-repeat: no-repeat;
	background-origin: content-box;
	background-position: center;
	background-size: 100% 100%;
	height: 300px;
	display: inline-block;
	float: left;
}

.infobox {
	height: 300px;
	display: inline-block;
	float: left;
}

#footer {
	background-color: #7EC0EE;
	height: 150px;
}

.quantity {
	width: 40px;
}

.itempic {
	background-image: url("images/gnome.jpg");
	background-size: 150px 90px;
	background-repeat: no-repeat;
	background-position: center;
	height: 125px; 
	display: inline-block; 
	float: left;
}

#remove {
	align-content: left;
}

.removebox {
	height: 100%; 
	display: inline-block;
}

#baskettitlebox {
	width: 100%; 
	padding-top: 20px; 
	text-align: center; 
	height: 75px; 
	max-width: 1000px; 
	margin: 0 auto;
}

.productlinetext {
	height: 45px; 
	display: inline-block; 
	float: left;
}

.basketitembox {
	width: 100%; 
	max-width: 1000px; 
	margin: 0 auto;
}

.wistlistitembox {
	style="width: 100%; 
	max-width: 1000px; 
	margin: 0 auto;
}

.basketboxthing {
	height: 100%;
	display: inline-block; 
	float: left;
}

@media screen and (max-width: 768px) {
	.small-hide {
		display: none;
	}
}

#wrappingDiv {
	background-color: #7ec0ee;
	width: 100%;
	display: block;
	float: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.wishlisttitlebox {
	width: 100%; 
	padding-top: 20px; 
	text-align: center; 
	height: 75px; 
	max-width: 1000px;
	margin: 0 auto;
}