#main {
	max-width: 1000px;
	margin: 0 auto;
	width: 100%;
}

.boxthing {
	display: block;
	float: left;
}

.categoryinfo {
	padding: 20px;
}

.hlinks {
	text-align: right;
}

.header {
	text-align: center;
}

#tfheader {
	text-align: center;
}

.categoryboxthing {
	width: 100%;
	padding-top: 20px;
}

.categoryheader {
	padding-top: 10px
}

.Gardenbox {
	background-image: url("copyrightfreeteam.jpg");
	background-repeat: no-repeat;
	background-origin: content-box;
	background-position: center;
	background-size: 100% 100%;
	height: 300px;
	display: inline-block;
	float: left;
}

.Gnomesbox {
	background-image: url("selenagnomes.jpg");
	background-repeat: no-repeat;
	background-origin: content-box;
	background-position: center;
	background-size: 100% 100%;
	height: 300px;
	display: inline-block;
	float: left;
}

.Seedsbox {
	background-image: url("seeds.jpg");
	background-repeat: no-repeat;
	background-origin: content-box;
	background-position: center;
	background-size: 100% 100%;
	height: 300px;
	display: inline-block;
	float: left;
}

.infobox {
	height: 300px;
	display: inline-block;
	float: left;
}

#footer {
	background-color: #7EC0EE;
	height: 150px;
}

.quantity {
	width: 40px;
}

.itempic {
	background-image: url("images/gnome.jpg");
	background-size: 150px 90px;
	background-repeat: no-repeat;
	background-position: center;
}

#remove {
	align-content: left;
}

@media screen and (max-width: 768px) {
	.small-hide {
		display: none;
	}
}

#wrappingDiv {
	background-color: #7ec0ee;
	width: 100%;
	display: block;
	float: center;
	padding-top: 20px;
	padding-bottom: 20px;
}